<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebKuantoKustaScrapper</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sandstone/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/main-layout.css" />
	<link rel="stylesheet" href="~/css/contact-us.css" />
	<link rel="stylesheet" href="~/css/product-price.css" />
	<link rel="stylesheet" href="~/css/simple-sidebar.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container">
				<a class="navbar-brand text-light font-weight-bolder" asp-area="" asp-controller="Home" asp-action="Index">Descontos em Portugal</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="ProductPrice" asp-action="Index">Produtos</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Websites" asp-action="Index">Websites</a>
						</li>

						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-action="Index">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ContactUs">Entra em contacto connosco</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted navbar-dark bg-primary">
		<div class="container text-light">
			<span class="text-light">
				&copy; 2020 - Descontos em Portugal -
			</span>
			<div class=" footer-info-wrap">
				<p class="footer-info">
					O site em questão não tem como objetivo vender ou promover qualquer tipo de loja,
					é fundamentalmente um espaço criado com intuito de partilhar de forma gratuita as promoções presentes nas lojas Portuguesas.
					É também importante realçar que o preço assim como a viabilidade do produto é está aos cuidados da lojas que as vendem.
					sendo estando ao cuidado das lojas nacionais que vendem os produtos.
					Este site não é endossado pelo kuantokusta.pt
				</p>
			</div>
			<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>