@model IEnumerable<DescontosEmPortugal.Web.Models.Website>

@{
	ViewData["Title"] = "Index";
}

<a class="btn btn-sm btn-outline-secondary float-right mt-3 mb-3" asp-action="Create">Adicionar novo site</a>

<table class="table table-hover ">
	<thead>
		<tr>
			<th class="thead-dark ">
				Tracking dos sites
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{

			<tr>
				<td class="d-xl-table-cell">
					@Html.DisplayFor(modelItem => item.SiteUrl)
				</td>
				<td>
					<div class="container">
						<a class="btn btn-sm btn-success form-control m-1" asp-action="Edit" asp-route-id="@item.IdWebsite">Editar</a>
						<a class="btn  btn-sm btn-info form-control m-1" asp-action="Details" asp-route-id="@item.IdWebsite">Detalhes</a>

						<a class="btn  btn-sm btn-danger form-control m-1" asp-action="Delete" asp-route-id="@item.IdWebsite">Apagar</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>