<form action="action_page.php">
	<div class="container container-contact-form form-contact mt-3">

		<label for="fname">Primeiro Nome</label>
		<input type="text" id="fname" name="firstname" placeholder="Your name..">

		<label for="lname">Último Nome</label>
		<input type="text" id="lname" name="lastname" placeholder="Your last name..">

		<label for="country">País</label>
		<select id="country" name="country">
			<option value="portugal">Portugal</option>
			<option value="espanha">Espanha</option>
			<option value="usa">USA</option>
		</select>

		<label for="subject">Texto</label>
		<textarea id="subject" name="subject" placeholder="Escreve a mensagem aqui.." style="height:200px"></textarea>

		<input class="btn-submit" type="submit" value="Submeter">
	</div>
</form>